:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --ocean-color: #404bbf;
  --primary-bg-color: #ffffff;
  --footer-color: #e7e9fc;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}
.header-nav {
  margin-left: auto;
  margin-right: auto;
  width: 1152px;
}

.nav-list .nav-link :hover,
.nav-list .nav-link :focus {
  color: var(--accent-color);
}
.nav-list .nav-link {
  color: var(--title-text-color);
}

.nav-item {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  list-style: none;
}
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-part {
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}
.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  color: var(--primary-bg-color);
  background-color: var(--primary-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.7;
  text-align: center;
}
.button {
  display: inline-block;
  border: 1px solid var(--accent-color);
  min-width: 169px;
  text-align: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 32px;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}
.button:focus {
  color: #ffffff;
  background-color: #4d5ae5;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.first-button {
  border: 1px solid transparent;
  color: var(--primary-bg-color);
  background: var(--accent-color);
}
.button:hover,
.button:focus {
  background-color: var(--ocean-color);
}
.section-title {
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.feature-list .text {
  font-size: 16px;
  line-height: 1.5;
}

.page-footer {
  background-color: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
